/venv
.idea
/intermediaire/muable/nombres_aleatoires.txt
/env
/officebackup36/data_mailbox.json
/officebackup36/all_my_contacts.json
officebackup36/Default Drive
officebackup36/my_folder/*
officebackup36/connection